<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=BEEGEN;Persist Security Info=True;User ID=LCLM;Password=LCLM;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionString2" connectionString="Data Source=BEEGEN;User ID=LCLM;Password=LCLM;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConStr" connectionString="Data Source=BEEGEN;Persist Security Info=True;User ID=LCLM;Password=LCLM;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DBConString" value="User Id=LCLM;Password=LCLM;Data Source=BEEGEN;"/>
    <add key="smtpClient" value="192.168.248.3"/>
    <add key="mailAddress" value="death_claim@srilankainsurance.com"/>
    <add key="userName" value=""/>
    <add key="password" value=""/>
    <add key="port" value="25"/>
    <add key="ssl" value="false"/>

    
    
    <!--<add key="smtpClient" value="mailx.bellvantage.com"/>
    <add key="mailAddress" value="support@mail.bellvantage.com"/>
    <add key="userName" value="support@mail.bellvantage.com"/>
    <add key="password" value="Sup#8989"/>
    <add key="port" value="25"/>
    <add key="ssl" value="false"/>-->
  </appSettings>
  <system.web>
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <roleManager enabled="true"/>
    <compilation debug="true" defaultLanguage="c#" batch="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpRuntime maxRequestLength="1048576"/>
  </system.web>
</configuration>
