BODY
{
font-size: 10.0pt; 
font-family: Trebuchet MS;
}
font
{
font-family: Trebuchet MS;

}
TD
{
border-style:none;
 border-width:medium;
font-size: 10.0pt; 
font-family: Trebuchet MS;

}
TR
{
height:21px;
}