#CalendarControlIFrame {
  display: none;
  left: 0px;
  position: absolute;
  top: 0px;
  height: 5px;
  width: 5px;
  z-index: 9;
}
.myNew{
	background-color: #f9f9f9;
	border: 1px solid #990000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: MediumBlue;
	letter-spacing: normal;
	text-align: right;
	vertical-align: middle;
	word-spacing: normal;
	white-space: normal;
	height: auto;
	width: auto;
	border: groove 1px #999;
	border-style:groove;
	padding-bottom:0px;
	padding-left:0px;
	padding-right: 0px;
	padding-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right: 0px;
	margin-top:0px;
	
	



}
.myInrTd
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: RoyalBlue;
	border-style:groove;
	border-color:Teal;
	border-bottom-width:1px;
	border-top-width:0px;
	border-right-width:1px;
	border-left-width:0px;
	
	padding-bottom:0px;
	padding-left:0px;
	padding-right: 0px;
	padding-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right: 0px;
	margin-top:0px;
	
	



}
.myInrhd
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight:bold;
	color: PaleVioletRed;
	background-color:#f0fff0;
	
	border-style:groove;
	border-color:Teal;
	border-bottom-width:1px;
	border-top-width:0px;
	border-right-width:1px;
	border-left-width:0px;
	
	padding-bottom:0px;
	padding-left:0px;
	padding-right: 0px;
	padding-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right: 0px;
	margin-top:0px;
	
	



}
.hdrtd
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight:bold;
	color: IndianRed;
	background-color:#fff5ee;
	
	border-style:groove;
	border-color:Teal;
	border-bottom-width:1px;
	border-top-width:0px;
	border-right-width:1px;
	border-left-width:0px;
	
	padding-bottom:0px;
	padding-left:0px;
	padding-right: 0px;
	padding-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right: 0px;
	margin-top:0px;
	
	



}
tr
{
	
	padding-bottom:0px;
	padding-left:0px;
	padding-right: 0px;
	padding-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right: 0px;
	margin-top:0px;
     border-style:none;
		
}
.mytd
{
	
	border-style:groove;
	border-color:Teal;
	border-bottom-width:1px;
	border-top-width:0px;
	border-right-width:1px;
	border-left-width:0px;
	
	padding-bottom:0px;
	padding-left:0px;
	padding-right: 0px;
	padding-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right: 0px;
	margin-top:0px;
	
	
	
}



#CalendarControl {
  position:absolute;
  background-color:#FFF;
  margin:0;
  padding:0;
  display:none;
  z-index: 100;
}

#CalendarControl table {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 8pt;
  border-left: 1px solid #AA9DAA;
  border-right: 1px solid #AA9DAA;
  border-bottom: 1px solid #AA9DAA;
  border-top: 1px solid #AA9DAA;
}

#CalendarControl th {
  font-weight: normal;
}

#CalendarControl th a {
  font-weight: normal;
  text-decoration: none;
  color: #FFF;
  padding: 1px;
}

#CalendarControl td {
  text-align: center;
}

#CalendarControl .header {
  background-color: #65D1E4;
}

#CalendarControl .weekday {
  background-color: #F4E8F7;
  color: #000;
}

#CalendarControl .weekend {
  background-color: #DDF7FB;
  color: #000;
}

#CalendarControl .current {
  border: 1px solid #339;
  background-color: #C7DFBF;
  color: #FFF;
}
.bodyFrame{
	display: block;
	border: 1px solid #DFBDD6;
	width: 2em;
	bgcolor: #DFBDD6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF8000;

}
.sandy{
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-color: #FFBC12;
}
.input{
	BorderStyle: Groove;
}
.tableBody{
	display: block;
	
  	width: 2em;
	bgcolor: #F4E8F7;
}
.tdfonts{
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 8pt;
  color:  #FFBC12;
}
#CalendarControl .weekday{
  display: block;
  text-decoration: none;
  border: 1px solid #F4E8F7;
  width: 2em;
}
#CalendarControl .weekend{
  display: block;
  text-decoration: none;
  border: 1px solid #DDF7FB;
  width: 2em;
}
#CalendarControl .current {
  display: block;
  text-decoration: none;
  border: 1px solid #999;
  width: 2em;
}

#CalendarControl .weekend:hover{
  color: #FFF;
  background-color: #FFBC12;
  border: 1px solid #999;
}

#CalendarControl .weekday:hover,
#CalendarControl .current:hover {
  color: #FFF;
  background-color: #DFBDD6;
  border: 1px solid #999;
}

#CalendarControl .previous {
  text-align: left;
}

#CalendarControl .next {
  text-align: right;
}

#CalendarControl .previous,
#CalendarControl .next {
  padding: 1px 3px 1px 3px;
  font-size: 1.4em;
}

#CalendarControl .previous a,
#CalendarControl .next a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

#CalendarControl .title {
  text-align: center;
  font-weight: bold;
  color: #FFF;
}

#CalendarControl .empty {
  background-color: #E2F8FE;
  border: 0px solid #FFF;
}
